@charset "ISO-8859-1";
.btn-primary{
    background-color: #0070AD !important;
	border-color:  #0070AD !important;
	color: White;
}

.btn-primary:hover,.btn-primary:active, .btn-primary:visited
{
	background-color: #12ABDB !important;
	border-color:  #12ABDB !important;
	color: White;
}
