
<header th:fragment="header" class="navbar navbar-expand-lg flex-lg-nowrap p-0">
	<div class="container">
		<a class="navbar-brand" style="color: #0070AD; font-size: 30px" href="#"> 
			<img alt="Capgemini Spade" src="../images/Capgemini_Spade_2Colors_RGB.png" width="40" height="40">
				Project Finder
			</a>
		<button class="navbar-toggler d-lg-none d-lg-none collapsed" type="button"
			data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
			aria-controls="sidebarMenu" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</header>