<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="ISO-8859-1">
<title>Manage Project Roles</title>

<link href="/css/Bootstrap.css" type="text/css" rel="stylesheet">
<link href="/css/theme.css" type="text/css" rel="stylesheet">
<link href="/css/toolsbutton.css" type="text/css" rel="stylesheet">
<link href="/css/formbutton.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	
	
</head>
<body class="bg-gray-100">

	<div th:replace="~{header.html :: header}"></div>

	<div class="container-fluid">
		<div class="row">
			<nav id="sidebarMenu"
				class="col-lg-2 d-lg-block sidebar collapse"
			>
				<div id="sidebar-items" class="sticky-top p-2">
					<ul class="sticky-item nav nav-pills flex-column mb-auto">
						<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a
							class="nav-link" href="/create"> Create User</a></li>
						<li class="nav-item"><a class="nav-link" href="/profile">
								Profile </a></li>	
						<li class="nav-item"><a class="nav-link" href="/dashboard">
								Dashboard </a></li>
						<li class="nav-item"><a class="nav-link" href="/favourites">
								Favourites </a></li>	
						<li sec:authorize="hasRole('ROLE_RM')" class="nav-item"><a
							class="nav-link active" href="#"> Manage Project Roles </a></li>
					</ul>

					<hr>
					<ul class="nav nav-pills flex-column mb-auto">
						<li class="nav-item"><a class="nav-link" href="/logout">Sign-out</a></li>
					</ul>
				</div>
			</nav>

			<main class="ms-md-auto ms-sm-auto col-lg-10 px-md-4 ">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2" th:inline="text">Create, Edit or Delete
						Projects here</h1>

				</div>
				<div class="row align-items-center  p-2">
					<div class="col-lg-6 col-md-12 mb-2">
						<div class="card my-3" >
							<div class="card-body">
								<h5 class="card-title">New Project Role Form</h5>
								<form class="needs-validation" method="post" action="/create/project" 
									novalidate>
									<div th:if="${success != null}" class="px-2 mb-2">
										<div class="alert alert-success alert-dismissible fade show"
											role="alert">
											Project Role Created!
											<button type='button' class='btn-close'data-bs-dismiss='alert' aria-label='Close'></button>
										</div>
									</div>
									<div th:if="${error != null}" class="px-2 mb-2">
										<div class="alert alert-danger alert-dismissible fade show"
											role="alert">
											End date must be after start date!
											<button type='button' class='btn-close'data-bs-dismiss='alert' aria-label='Close'></button>
										</div>
									</div>
									<div class="mb-2 row">
										<div class="col-6">
											<label for="client-name-input" class="form-label">Client
												Name</label> <input type="text" class="form-control"
												id="client-name-input" name="client-name"
												placeholder="E.g. Mcdonalds" autocomplete="organization"
												required>
											<div class="valid-feedback"></div>
											<div class="invalid-feedback">Please enter a client
												name</div>
										</div>
										<div class="col-6">
											<label for="project-name-input" class="form-label">Project
												name</label> <input type="text" class="form-control"
												id="project-name-input" name="project-name"
												placeholder="E.g. Modernization Project"
												autocomplete="family-name" required>
											<div class="valid-feedback"></div>
											<div class="invalid-feedback">Please enter a project
												name</div>
										</div>
									</div>
									<div class="mb-2 row">
										<div class="col">
										<label for="grade-input" class="form-label">Grade Required</label>
										<select class="form-select"id = "grade-input" name="project-grade">
											<option value="A1">A1</option>
											<option value="A2">A2</option>
											<option value="A3">A3</option>
											<option value="A4">A4</option>
											<option value="A5">A5</option>
											<option value="A6">A6</option>
											<option value="A7">A7</option>
											<option value="A8">A8</option>
											<option value="A9">A9</option>
											<option value="A10">A10</option>
										</select>
										</div>
									</div>
									<div class="mb-2 row">
										<div class="col-6">
											<label for="start-date-input" class="form-label">Expected
												Start Date</label> <input type="date" max="9999-12-31"
												class="form-control" id="start-date-input" name="start-date">
											<div class="valid-feedback"></div>
											<div class="invalid-feedback">Please enter a valid date
												in the form dd/mm/yyy</div>
										</div>
										<div class="col-6">
											<label for="end-date-input" class="form-label">Expected
												End Date</label> <input type="date" max="9999-12-31"
												class="form-control" id="end-date-input" name="end-date">
											<div class="valid-feedback"></div>
											<div class="invalid-feedback">End date cannot be before the start date</div>
										</div>
									</div>
									<div class="mb-2 row">
										<div class="col">
										<label for="work-input" class="form-label">Location of
											Work</label> <select class="form-select" id="work-input"
											name="work-location" onchange="toggleAddressField()">
											<option value="Remote">Remote</option>
											<option value="Hybrid">Hybrid</option>
											<option value="Client_Site">Client Site</option>
										</select>
										</div>
									</div>
									<div class="mb-2 row">
										<div id="address-field" style="display: none; ">
											<label for="address-input" class="form-label">Address</label>
											<input type="text" class="form-control" id="address-input"
												name="address">
												<div class="valid-feedback"></div>
											<div class="invalid-feedback">Please specify the address of the client work</div>
										</div>
									</div>
									<div class="mb-2 row">
										<div class="col">
											<label for="general-description-input" class="form-label">Role
												Description</label>
											<textarea class="form-control" id="general-description-input"
												name="general-description"
												placeholder="Description of the project role goes here"
												style="height: 300px;resize: none;" required></textarea>
											<div class="valid-feedback"></div>
											<div class="invalid-feedback">The role must have a
												description</div>
										</div>
									</div>
									<div class="mb-2 row">
									<label class="mb-2">Software/Tools Used (Select any that apply)</label>
										<div class="my-button-group flex-wrap">
											<span th:each="record : ${toolRecords}">
												<input  type="checkbox" class="btn-check" th:id=${record.toolID} autocomplete="off" th:value="${record.toolName}" name="tools-used">
												<label class="btn btn-primary" th:for="${record.toolID}">[[${record.toolName}]]</label>
											</span>			
										</div>

									</div>
									<div class="text-center">
										<button id="create-project" type="submit" class="btn btn-primary">Create
											Project Role</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="card my-3" style="height:100%">
							<div class="card-body">
								<h5 class="card-title">Select a Project to delete</h5>
								<table id="project-table" class="display">
									<thead>
										<tr>
											<th>Project ID</th>
											<th>Client Name</th>
											<th>Project Name</th>
											<th>Start Date</th>
											<th>End Date</th>
											<th>Grade</th>								
											<th>...</th>
										</tr>
									</thead>
									<tbody>
						                    <!-- Use Thymeleaf's iteration to loop through your data and populate the table -->
						                    <tr th:each="project : ${projectRecords}">
						                        <!-- Replace 'Column 1' and 'Column 2' with the actual properties from your data object -->
						                        <td th:text="${project.projectID}"></td>
						                        <td th:text="${project.companyName}"></td>
						                        <td th:text="${project.projectName}"></td>
						                        <td th:text="${project.startDate}"></td>
						                        <td th:text="${project.endDate}"></td>
						                        <td th:text="${project.grade}"></td>
						                        <td><a th:href="@{/project/delete/{projectId}(projectId=${project.projectID})}"class="btn btn-danger btn-sm delete-btn">Delete</a></td>
						                    </tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

			</main>

		</div>
	</div>

	<script src="/js/Bootstrap.js"></script>
	<script src="/js/FormValidation.js" type="text/javascript" th:inline="javascript"></script>
	<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
	
	
	<!--This script shows the address field when either client site or hybrid is selected as a work location and also makes it required-->
	<script>
		function toggleAddressField() {
			//Get work location value
			var selectedOption = document.getElementById("work-input").value;
			
			//Get the group for input and label
			var addressField = document.getElementById("address-field");
			
			//Get the input
			var addressInput = document.getElementById("address-input");

			if (selectedOption === "Client_Site" || selectedOption === "Hybrid") {
				addressField.style.display = "block";
				addressInput.required = true;
			} else {
				addressField.style.display = "none";
				addressInput.required = false;
			}
		}
	</script>
	
	<script type="text/javascript">
	$(document).ready( function () {
	    $('#project-table').DataTable({
	        
	    });
	    
        // Handle the click event of the delete button
        $('.delete-btn').on('click', function (event) {
        	
            // Prevent the default link behavior to avoid navigation
            event.preventDefault();
            // Get the href attribute of the delete button
            var deleteUrl = $(this).attr('href');

            // Send an AJAX request to the server to delete the record
            $.ajax({
                type: 'DELETE',
                url: deleteUrl,
                success: function () {
                    // Reload the page to update the table after deletion
                    location.reload();
                },
                error: function () {
                    // Handle error if the deletion fails
                    alert('Failed to delete the record.');
                }
            });
        });
	} );
	
	</script>
</body>

</html>